@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6, ul, ol, dl {
  margin: 0;
  padding: 0;
  list-style: none;
}

a, span {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
}

input {
  border: none;
  background: transparent;
  outline: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background: #FBFBFB;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.main_container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (max-width: 1199px) {
  .main_container {
    max-width: 992px;
  }
}
@media screen and (max-width: 991px) {
  .main_container {
    max-width: 768px;
  }
}
@media screen and (max-width: 767px) {
  .main_container {
    max-width: 576px;
  }
}
@media screen and (max-width: 575px) {
  .main_container {
    max-width: 100%;
  }
}

.main_title {
  color: rgb(51, 51, 51);
  font-size: 18px;
  font-weight: 700;
  line-height: 25.71px;
  margin-bottom: 12px;
}
@media screen and (max-width: 575px) {
  .main_title {
    margin-bottom: 14px;
  }
}
.main_description {
  color: rgb(31, 31, 31);
  font-size: 14px;
  line-height: 20px;
}
@media screen and (max-width: 575px) {
  .main_description {
    font-size: 12px;
    line-height: 16px;
  }
}
.main_alert {
  background: #E4E4E4;
  padding: 15px 20px 30px 15px;
}
@media screen and (max-width: 575px) {
  .main_alert {
    padding: 15px 15px 10px;
  }
}

.btn_danger {
  background-color: transparent;
  border: 2px solid #f40303;
  border-radius: 7px;
  color: #f40303;
  height: 40px;
  line-height: 38px;
  transition: 0.3s ease all;
  padding: 0 21px;
  font-size: 16px;
  white-space: nowrap;
}
@media screen and (max-width: 575px) {
  .btn_danger {
    font-size: 14px;
  }
}
.btn_danger:hover {
  background: #f40303;
  color: white;
}

.header {
  padding: 20px 0 15px;
}
@media screen and (max-width: 575px) {
  .header .main_container {
    gap: 20px;
  }
}
.header__left {
  gap: 30px;
}
.header__right {
  gap: 60px;
}
.header__logo span {
  top: 5px;
  color: rgb(21, 86, 166);
  font-size: 10px;
  line-height: 14px;
}
@media screen and (max-width: 575px) {
  .header__logo img {
    height: 57px;
  }
}
.header__location {
  gap: 7px;
  width: 311px;
}
.header__address {
  gap: 15px;
}
.header__address span {
  color: rgb(5, 14, 101);
  font-size: 14px;
  line-height: 20px;
}
.header__working_time {
  gap: 15px;
}
.header__working_time span {
  color: rgb(44, 97, 178);
  font-size: 14px;
  line-height: 20px;
}
.header__contact {
  gap: 12px;
}
.header__contact_phone {
  gap: 18.5px;
}
.header__contact_phone a {
  color: rgb(5, 14, 101);
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
}
@media screen and (max-width: 359px) {
  .header__contact_phone a {
    font-size: 16px;
    line-height: 16px;
  }
}
.header__contact_mail {
  gap: 21.5px;
  margin-left: 21px;
}
.header__contact_mail span {
  color: rgb(21, 86, 166);
  font-size: 14px;
  line-height: 20px;
}
.header__networks {
  gap: 12px;
}
.header__networks ul {
  gap: 3px;
}

.mobile_menu {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 63, 136, 0.98);
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}
@media screen and (max-width: 991px) {
  .mobile_menu.active {
    display: flex;
  }
}
.mobile_menu__close {
  width: 25px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 45px;
  right: 40px;
  position: absolute;
}
.mobile_menu__close span {
  color: white;
  font-size: 36px;
}
.mobile_menu__navs {
  gap: 13px;
  width: calc(100% - 70px);
}
.mobile_menu__navs a {
  font-size: 18px;
  line-height: 22px;
}
.mobile_menu__navs a:hover {
  text-decoration: underline;
}
.mobile_menu__navs li {
  height: 22px;
}
.mobile_menu__navs .line {
  margin: 45px 0 40px;
  height: 1px;
  background: white;
  width: 100%;
}

.nav {
  background: rgb(21, 86, 166);
  margin-bottom: 30px;
}
@media screen and (max-width: 575px) {
  .nav {
    margin-bottom: 20px;
  }
}
.nav__links_item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  height: 45px;
  transition: 0.3s ease all;
  font-size: 14px;
  line-height: 45px;
  color: white;
}
.nav__links_item:hover {
  background: #306eba;
}
.nav__search {
  border: 1px solid rgb(208, 208, 208);
  border-radius: 3px;
  background: rgb(255, 255, 255);
  width: 225px;
  height: 29px;
}
.nav__search input {
  font-size: 16px;
  padding: 0 14px;
  width: calc(100% - 42px);
}
.nav__search button {
  width: 42px;
  transition: 0.3s ease all;
  position: absolute;
  top: -1px;
  right: -1px;
  height: calc(100% + 2px);
}
.nav__search button:hover {
  background: #3472ff;
}

.main_block {
  gap: 30px;
  margin-bottom: 100px;
}
.main_block__left {
  width: 263px;
}
.main_block__left .title {
  color: #333333;
  font-size: 18px;
  font-weight: 800;
  line-height: 25.71px;
  margin-bottom: 15px;
}
.main_block__right {
  width: calc(100% - 293px);
}
@media screen and (max-width: 991px) {
  .main_block__right {
    width: 100%;
  }
}

.our_production {
  gap: 25px;
}
.our_production__item {
  border-top: 1px solid #A3ACFD;
}
.our_production__item_head {
  padding: 10px 0 14px;
  gap: 12px;
}
.our_production__item_head span {
  color: rgb(44, 97, 178);
  font-size: 15px;
  line-height: 21.43px;
  text-transform: uppercase;
}
.our_production__item_list {
  gap: 7px;
  margin-left: 58px;
}
.our_production__item_list a {
  color: rgb(0, 0, 102);
  font-size: 14px;
  line-height: 20px;
  text-decoration-line: underline;
}

.our_services {
  gap: 30px;
  margin: 25px 0 50px;
}
.our_services__line {
  height: 1px;
  background: #A3ACFD;
}
.our_services__item span {
  color: rgb(21, 86, 166);
  font-size: 13px;
  font-weight: 700;
  line-height: 18.57px;
  text-transform: uppercase;
}
.our_services__item:nth-child(1) {
  padding-left: 23px;
  gap: 33px;
}
.our_services__item:nth-child(3) {
  padding-left: 16px;
  gap: 26px;
}

.our_skill__title {
  color: rgb(51, 51, 51);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 25px;
}
.our_skill__list {
  gap: 20px;
  margin-bottom: 50px;
}
.our_skill__list_item__title {
  color: rgb(21, 86, 166);
  font-size: 16px;
  font-weight: 600;
  line-height: 22.86px;
  text-transform: uppercase;
  border-bottom: 1px solid #A3ACFD;
  margin-bottom: 10px;
}
.our_skill__list_item p {
  font-size: 15px;
  font-weight: 400;
  line-height: 21.43px;
  color: rgb(119, 119, 119);
}
.our_skill__list_item p a {
  color: rgb(0, 0, 255);
  display: inline;
}
.our_skill__list_item p a:hover {
  text-decoration: underline;
}
.our_skill__card {
  background: url("../images/our_skill_card.png") center/cover no-repeat;
  padding: 39px 21px 20px;
  gap: 40px;
}
.our_skill__card p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.86px;
}
.our_skill__card button {
  height: 45px;
  width: 121px;
  background: white;
  color: rgb(0, 0, 0);
  font-family: "Inter", sans-serif;
  font-size: 14.63px;
  font-weight: 600;
  line-height: 45px;
  text-transform: uppercase;
  border-radius: 5px;
}

.breadcrubms {
  background: #F5F5F5;
  padding: 8px 15px;
  gap: 9px;
  margin-bottom: 20px;
}
@media screen and (max-width: 575px) {
  .breadcrubms {
    padding: 7.5px 15px 8.5px;
  }
}
.breadcrubms a {
  color: #333333;
  font-size: 14px;
  line-height: 20px;
}
@media screen and (max-width: 575px) {
  .breadcrubms a {
    font-size: 12px;
    line-height: 16px;
  }
}
.breadcrubms span {
  color: #777777;
  font-size: 14px;
  line-height: 20px;
}
@media screen and (max-width: 575px) {
  .breadcrubms span {
    font-size: 12px;
    line-height: 16px;
  }
}

.letters__accordion {
  margin-bottom: 20px;
}
.letters__accordion .accordion-header {
  outline: none;
}
.letters__accordion .accordion-header button {
  background: #3160FF;
  box-shadow: none;
  border-radius: 0;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  line-height: 21.43px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.letters__accordion .accordion-header button::after {
  display: none;
}
.letters__accordion .accordion-header button span.icon {
  position: relative;
  height: 1px;
  width: 28px;
  background: white;
  transform: rotate(0);
  transition: 0.3s ease all;
}
.letters__accordion .accordion-header button span.icon::before {
  content: "";
  width: 100%;
  height: 1px;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateZ(90deg);
  transition: 0.3s ease all;
}
.letters__accordion .accordion-header button[aria-expanded=true] span.icon {
  transform: rotateZ(180deg);
}
.letters__accordion .accordion-header button[aria-expanded=true] span.icon::before {
  transform: rotateZ(0);
}
.letters__accordion .accordion-body ul {
  gap: 5px;
}
.letters__accordion .accordion-body ul li {
  background-color: #ececec;
  padding: 10px;
}
.letters__accordion .accordion-body ul li span {
  margin-right: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #0a0065;
}
@media screen and (max-width: 575px) {
  .letters__accordion .accordion-body ul li span {
    font-size: 12px;
  }
}
.letters__accordion .accordion-body ul li a {
  margin-right: 5px;
  padding-right: 5px;
  border-right: 1px solid #c5c5c5;
  text-decoration: underline;
  color: #333;
  font-size: 14px;
  line-height: 13px;
  transition: 0.3s ease all;
}
@media screen and (max-width: 575px) {
  .letters__accordion .accordion-body ul li a {
    font-size: 12px;
  }
}
.letters__accordion .accordion-body ul li a:hover {
  color: #2354d2;
}
.letters p:last-child {
  margin: 20px 0 30px;
}
.letters ul {
  list-style-type: disc;
  list-style-position: inside;
}
.letters ul li::marker {
  color: #1f1f1f;
  font-size: 14px;
}

.making_latter {
  margin-bottom: 30px;
}
.making_latter__list {
  gap: 25px 15px;
  margin: 20px 0 30.5px 15px;
}
@media screen and (max-width: 991px) {
  .making_latter__list {
    margin: 30px 0 30.5px 0;
  }
}
@media screen and (max-width: 767px) {
  .making_latter__list {
    gap: 30px;
  }
}
.making_latter__list_item {
  width: calc(50% - 7.5px);
  text-align: center;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
  background: rgb(255, 255, 255);
  padding: 20px;
}
@media screen and (max-width: 767px) {
  .making_latter__list_item {
    width: 100%;
  }
}
.making_latter__list_item img {
  margin: 15px auto;
}
.making_latter__list_item h3 {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 575px) {
  .making_latter__list_item h3 {
    font-size: 12px;
    line-height: 16px;
  }
}
.making_latter__list_item p {
  color: rgb(0, 0, 0);
  font-size: 14px;
  line-height: 20px;
  text-align: left;
}
@media screen and (max-width: 575px) {
  .making_latter__list_item p {
    font-size: 12px;
    line-height: 16px;
  }
}
.making_latter .main_description:nth-child(4) {
  margin-bottom: 20px;
}

.work_example__galerea {
  margin: 30px 0 30px 15px;
  gap: 30px;
}
.work_example__galerea_item {
  width: calc(33.3333333333% - 20px);
}
@media screen and (max-width: 767px) {
  .work_example__galerea_item {
    width: calc(50% - 15px);
  }
}
@media screen and (max-width: 575px) {
  .work_example__galerea_item {
    width: 100%;
    text-align: center;
  }
}
.work_example__galerea_item img {
  width: 100%;
  height: 191px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.21);
}
@media screen and (max-width: 575px) {
  .work_example__galerea_item img {
    height: 159px;
    width: 210px;
  }
}
.work_example .description_wrap {
  gap: 20px;
}
@media screen and (max-width: 575px) {
  .work_example .description_wrap {
    gap: 15px;
  }
}
.work_example .main_alert {
  gap: 20px;
  margin: 30px 0 20px;
}
@media screen and (max-width: 575px) {
  .work_example .main_alert {
    gap: 16px;
  }
}
.work_example .main_alert span {
  color: rgb(31, 31, 31);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  padding-top: 11px;
}
@media screen and (max-width: 575px) {
  .work_example .main_alert span {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
  }
}
.work_example__list {
  margin-bottom: 20px;
}
.work_example__list_item {
  padding-left: 20px;
}
.work_example__list_item.title {
  padding-left: 0;
}

.work_price {
  margin-bottom: 30px;
}
.work_price__table {
  margin-bottom: 20px;
}
.work_price__table table {
  width: 100%;
}
@media screen and (max-width: 575px) {
  .work_price__table table {
    width: 834px;
  }
}
.work_price__table table td {
  border: 2px solid #DDDDDD;
}
.work_price__table table thead td {
  background: #2361FF;
  color: rgb(255, 255, 255);
  font-size: 18.7px;
  font-weight: 700;
  line-height: 26.67px;
  padding: 7px 8px 9px;
}
.work_price__table table thead td:nth-child(1) {
  width: 62.5%;
}
.work_price__table table thead td:nth-child(2) {
  width: 24%;
}
.work_price__table table tbody td {
  padding: 8px 8px 9px;
}
.work_price__table table tbody td.title {
  background: #E1E1E1;
  color: rgb(0, 0, 128);
  font-size: 18.7px;
  font-weight: 700;
  line-height: 26.67px;
}
.work_price__table table tbody td:not(.title) {
  color: rgb(102, 102, 102);
  font-size: 14px;
  line-height: 20px;
}
@media screen and (max-width: 575px) {
  .work_price__table table tbody td:not(.title) {
    font-size: 12px;
    line-height: 16px;
  }
}
.work_price__descriptions {
  margin-bottom: 20px;
  list-style-type: disc;
  list-style-position: inside;
}
.work_price__descriptions li::marker {
  color: #1f1f1f;
  font-size: 14px;
}

.make_order__datas {
  gap: 20px;
}
.make_order__datas ul {
  list-style-type: disc;
  list-style-position: inside;
}
.make_order__datas ul li::marker {
  color: #1f1f1f;
  font-size: 14px;
}
.make_order__description {
  color: #236fa1;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}
@media screen and (max-width: 575px) {
  .make_order__description {
    font-size: 12px;
    line-height: 16px;
  }
}
.make_order__description a {
  display: inline;
  color: #BA372A;
}

.footer {
  background: #000;
  color: white;
  padding: 20px 0 50px;
}
.footer__top {
  margin-bottom: 22px;
}
@media screen and (max-width: 991px) {
  .footer__top {
    margin-bottom: 30px;
  }
}
.footer__top_navs {
  gap: 20px;
}
@media screen and (max-width: 1199px) {
  .footer__top_navs {
    gap: 15px;
  }
}
@media screen and (max-width: 575px) {
  .footer__top_navs {
    gap: 10px 8px;
  }
}
.footer__top_navs a {
  font-size: 16px;
  line-height: 22.86px;
  text-transform: uppercase;
}
@media screen and (max-width: 575px) {
  .footer__top_navs a {
    font-size: 12px;
    line-height: 16px;
  }
}
.footer__top_networks {
  gap: 13px;
}
@media screen and (max-width: 1199px) {
  .footer__top_networks {
    gap: 0;
  }
}
.footer__bottom_address {
  margin: 0 125px 0 70px;
  width: 261px;
  color: rgb(228, 229, 232);
  font-size: 14px;
  line-height: 20px;
}
@media screen and (max-width: 991px) {
  .footer__bottom_address {
    margin: 5px 0 0;
    text-align: center;
  }
}
@media screen and (max-width: 575px) {
  .footer__bottom_address {
    font-size: 12px;
    line-height: 16px;
  }
}
.footer__bottom_address span {
  display: block;
}
.footer__bottom_address a {
  display: inline;
  font-weight: 700;
}
.footer__bottom_address a:hover {
  text-decoration: underline;
}
.footer__bottom_produce span {
  color: rgb(21, 86, 166);
  font-size: 17px;
  font-weight: 700;
  line-height: 24.29px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer__bottom_produce ul li {
  color: rgb(152, 153, 155);
  font-size: 14px;
  line-height: 20px;
}

.call_me {
  position: fixed;
  left: 15px;
  bottom: 15px;
  width: 97px;
  height: 97px;
  border-radius: 50%;
  border: 10px solid #EEF0F2;
  background: #50CBCB;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact_support {
  position: fixed;
  bottom: 0;
  right: 40px;
  width: 300px;
  height: 40px;
  box-shadow: 0 12px 14px 8px rgba(0, 0, 0, 0.17);
  border-top-left-radius: 8px !important;
  border-top-right-radius: 34px !important;
  text-align: left;
  padding-left: 17px;
}
.contact_support img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.contact_support span {
  position: relative;
  color: rgb(240, 241, 241);
  font-family: "Inter", sans-serif;
  font-size: 13.13px;
  line-height: 40px;
}
.contact_support span svg {
  margin-right: 9px;
}

.call_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
}
.call_modal.active {
  display: flex;
}
@keyframes endAnimation {
  from {
    display: flex;
    opacity: 1;
  }
  to {
    display: flex;
    opacity: 0;
  }
}
.call_modal.end-active {
  display: none;
  animation: endAnimation 0.6s linear 1;
}
.call_modal__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(55, 58, 71, 0.5);
}
.call_modal__close {
  position: absolute;
  right: -5px;
  top: -35px;
  color: #fff;
  transition: 0.3s ease all;
  font-size: 36px;
  font-weight: 300;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}
@media screen and (max-width: 575px) {
  .call_modal__close {
    top: 20px;
    right: 20px;
  }
}
.call_modal__close:hover {
  opacity: 1;
}
.call_modal__content {
  position: relative;
  background-color: #50cbcb;
  width: 95%;
  padding: 56px;
}
@media screen and (min-width: 767px) {
  .call_modal__content {
    width: 60%;
  }
}
@media screen and (max-width: 575px) {
  .call_modal__content {
    padding: 24px;
  }
}
.call_modal__form_title {
  font-size: 34px;
  padding: 0;
  margin: 25px 0;
  color: white;
}
@media screen and (max-width: 575px) {
  .call_modal__form_title {
    text-align: center;
  }
}
.call_modal__form_select {
  position: relative;
}
.call_modal__form_select__wrap {
  gap: 5px;
  margin-bottom: 25px;
}
.call_modal__form_select svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  right: 10px;
}
.call_modal__form_select svg path {
  fill: white;
}
.call_modal__form_select select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  width: 97px;
  height: 58px;
  padding: 0 36px 0 22px;
  outline: none;
  border: none;
  font-size: 30px;
  color: white;
  background: rgba(0, 0, 0, 0.2);
}
.call_modal__form_select select option {
  font-size: 16px;
  text-align: center;
  background: white;
  color: black;
}
.call_modal__form_select select:hover {
  background: rgba(0, 0, 0, 0.25);
}
.call_modal__form_select:nth-child(3) {
  margin-left: 15px;
}
.call_modal__form_select:nth-child(3) select {
  width: 185px;
  font-size: 16px;
  background: transparent;
}
.call_modal__form_select:nth-child(3) select:hover {
  background: rgba(0, 0, 0, 0.25);
}
.call_modal__form p {
  padding-top: 10px;
  opacity: 0.6;
  text-align: left;
  font-size: 14px;
  color: #fff;
}
.call_modal__form_bottom .input_wrap {
  width: 100%;
}
.call_modal__form_bottom .input_wrap input {
  height: 58px;
  width: 100%;
  background: white;
  padding: 12px 36px 12px 22px;
  font-size: 16px;
  color: #333;
}
.call_modal__form_bottom button {
  width: 205px;
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: 0.3s ease all;
  height: 58px;
  padding: 12px 36px 12px 22px;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
}
@media screen and (max-width: 575px) {
  .call_modal__form_bottom button {
    width: 35%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.call_modal__form_bottom button:hover {
  background: rgba(0, 0, 0, 0.25);
}/*# sourceMappingURL=style.css.map */